.create-admin {
    background-color: #f3f4f8;
    padding: 20px;
    form {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 4px;
        .textField {
            width: 100%;
            font-size: 16px;
            margin: 16px 0;
        }
    }
}
