.navbar {
  display: flex;
  background-color: #4d73df;
  position: fixed;
  padding: 15px;
  width: 240px;
  height: 100vh;
  flex-direction: column;
  img {
    height: 45px;
  }
  ul {
    li {
      a {
        text-decoration: none;
        display: block;
        color: #ebebeb;
        padding: 20px 0;
      }
    }
  }
}

.lineHight {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
