.header {
    background-color: #000;
    color: #b8babc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 20px;
    a {
        display: block;
    }
    .search {
        input {
            height: 25px;
            width: 350px;
            border-radius: 4px;
            outline: none;
            padding-left: 6px;
            border: none;
        }
    }
    .navbar {
        display: flex;
        li {
            padding: 0 16px;
            &:last-child {
                padding-right: 0;
            }
            a {
                text-decoration: none;
                color: inherit;
                font-style: 13px;
                font-weight: 700;
            }
        }
    }
}
