form {
  box-shadow: 0 1px 5px 2px #ccc;
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 4px;
  text-align: center;
  .textField {
    width: 100%;
    font-size: 16px;
    margin: 16px 0;
    outline: none;
  }
  button {
    padding: 8px 46px;
    color: #fff;
    border-radius: 4px;
    background-color: green;
  }
  .category-lable {
    background-color: #fff;
    padding-right: 5px;
    margin-top: -3px;
  }
  :global {
    .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiSelect-root {
      height: 40px;
    }
  }
}
